{% extends 'form/user_checkout_change.html.twig' %}
{% block user_checkout_billing_feedback %}
    {{ parent() }}
    {% block oegeoblocking_user_checkout_billing_feedback %}
        <div id="oegb-hint-message"  class="invoiceonlyhint hidden text-warning mb-3">
            {{ translate({ ident: "OEGEOBLOCKING_HINT" }) }}
        </div>
    {% endblock %}
{% endblock %}
